/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/html/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/
Gemfile.lock
/vendor/bundle/
ext/ebur128_stream/.rustc_info.json
ext/ebur128_stream/release/
